

<div class="container">


    <div class="content-wrapper" id="lgContentWrapper">
        @*<div class="row">

            <a value="New Request" onclick="window.open('@Url.Action("RequestsPerMonth", "Reports" )')"><em class="fa fa-fw"></em>Requests Per Month</a>


        </div>*@

        <div class="row">
            <div class="col-md-4">
                <div class="panel b">
                    <div class="panel-body text-center">
                        <a href="#" onclick="window.open('@Url.Action("Transports", "Reports" )')" class="link-unstyled text-primary">
                            <em class="fa fa-5x fa-table mb-lg"></em>
                            <br>
                            <span class="h4">All Transports</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel b">
                    <div class="panel-body text-center">
                        <a href="#" onclick="window.open('@Url.Action("AtTransports", "Reports" )')" class="link-unstyled text-primary">
                            <em class="fa fa-5x fa-table mb-lg"></em>
                            <br>
                            <span class="h4">AT Transports</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel b">
                    <div class="panel-body text-center">
                        <a href="#" onclick="window.open('@Url.Action("VanTransports", "Reports" )')" class="link-unstyled text-primary">
                            <em class="fa fa-5x fa-table mb-lg"></em>
                            <br>
                            <span class="h4">Van Transports</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel b">
                    <div class="panel-body text-center">
                        <a href="#" onclick="window.open('@Url.Action("StallworthTransports", "Reports" )')" class="link-unstyled text-primary">
                            <em class="fa fa-5x fa-table mb-lg"></em>
                            <br>
                            <span class="h4">Stallworth Transports</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel b">
                    <div class="panel-body text-center">
                        <a href="#" onclick="window.open('@Url.Action("VanderbiltEMS", "Reports" )')" class="link-unstyled text-primary">
                            <em class="fa fa-5x fa-table mb-lg"></em>
                            <br>
                            <span class="h4">VanderbiltEMS Transports</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel b">
                    <div class="panel-body text-center">
                        <a href="#" onclick="window.open('@Url.Action("VCHTransports", "Reports" )')" class="link-unstyled text-primary">
                            <em class="fa fa-5x fa-table mb-lg"></em>
                            <br>
                            <span class="h4">VCH Transports</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel b">
                    <div class="panel-body text-center">
                        <a href="#" onclick="window.open('@Url.Action("VumcAtNumbers", "Reports" )')" class="link-unstyled text-primary">
                            <em class="fa fa-5x fa-table mb-lg"></em>
                            <br>
                            <span class="h4">VUMC AT Transports</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>